.speedDial {
  position: fixed;
  right: 3vmax;
  top: 3vmax;
}

.speedDialIcon {
  width: 56px;
  height: 56px;
  border-radius: 100%;
}

/* styles.css */
.button-container {
  top: 10px; 
  right: 10px;
  margin-top: 2rem;
  margin-right: 2rem;
  position:absolute;
}
.button {
  border: none;
  padding: 10px;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: black;
  color: white;
  border-radius: 7px;
} 

.button:hover {
  background-color: white;
  color: black;
}